.employer-container {
    width: 80%;
    margin: 0 auto;
   
    padding: 170px; /* Add some padding for spacing */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    background-color:azure;
  }
  
  .job-item {
    
    border: 1px solid #f3b5b5;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: azure;
  }
  .hey{
    padding-left: 50px;
    font-weight: 900;
  }
 .search{
    margin-left: 15px;
 }

 .view-applicants-button{
    color: white;
    background-color: rgb(93, 146, 233);

 }
 
  /* Rest of your styles remain the same */
  